.contest-page-wrapper {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43); 
  padding: 20px;
  box-sizing: border-box;
}

.contest-page {
  max-width: 400px;
  width: 90%;
  padding: 36px;
  background-color: #2C3E50; 
  border-radius: 14px;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.55);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.contest-page h1 {
  color: #FDFEFE;
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
}

.contest-page button {
  width: 100%;
  padding: 14px;
  background-color: #1A5276; 
  color: #FDFEFE;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.25s ease, transform 0.1s ease;
}

.contest-page button:hover {
  background-color: #2874A6; 
}

.contest-page button:active {
  transform: scale(0.98);
}







.headare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  color: white;
  font-weight: 800;
  background-color: #2c3e50;
    background: #0f172a;
    border-bottom: 2px solid #1e293b;
}


.header-left {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
}


.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 35px;
  font-size: 16px;
}


.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-item {
  cursor: pointer;
}

.header-item:hover {
  color: #22C55E;
}