.problems-page {
  padding: 1% 60px;
  background: linear-gradient(135deg, #1a202c, #2c3e50);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 98vh;
  color: #FDFEFE;
  box-sizing: border-box;
}


.problem-header-form {
  margin-bottom: 20px;
}
.problem-header-form form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.problem-header-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;

  color: white;
}

/* LEFT SECTION */
.header-left {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
}

/* CENTER SECTION */
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 35px;
  font-size: 16px;
}

/* RIGHT SECTION */
.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-item {
  cursor: pointer;
}

.header-item:hover {
  color: #22C55E;
}


.problems-filters {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.search-input {
  flex: 1;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #34435E;
  background-color: #132E32;
  color: #FFFFFF;
  outline: none;
}
.search-input::placeholder { color: #9CA3AF; }
.filter-select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #34435E;
  background-color: #132E32;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}


.problems-table {
  background-color: #34435E;
  border-radius: 10px;
  overflow: hidden;
}
.table-header,
.table-row {
  display: grid;
  grid-template-columns: 60px 1fr 120px 120px;
  align-items: center;
  padding: 10px 16px;
}
.table-header {
  background-color: #0A2239;
  font-size: 13px;
  color: #CBD5E1;
  font-weight: 500;
}
.table-row {
  border-top: 1px solid #0A2239;
  font-size: 14px;
  cursor: pointer;
}
.table-row:hover { background-color: #132E32; }


.serial, .problem-title, .acceptance {
  color: #FFFFFF;
}
.problem-title { 
font-weight: 500;
 color: #FFFFFF !important;
}

.difficulty {
  text-transform: uppercase;
  font-weight: 400; 
}
.difficulty.easy { color: #22C55E; }
.difficulty.medium { color: #FACC15; }
.difficulty.hard { color: #EF4444; }