.signin-page-wrapper {
  min-height: 98vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43);  padding: 20px;
  box-sizing: border-box;
}

.signin-page {
  max-width: 300px;   
  width: 90%;        
  padding: 36px;     
  background-color: #2C3E50; 
  border-radius: 14px;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.55);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signin-page h1 {
  color: #FDFEFE;
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
}

.signin-page p {
  font-size: 14px;
  color: #AAB7B8;
  text-align: center;
  margin-bottom: 20px;
}

.signin-page form {
  display: flex;
  flex-direction: column;
  gap: 11px; 
}

.signin-page label {
  color: #FDFEFE;
  font-size: 13px;
  margin-bottom: 4px;
  display: block;
}

.signin-page input {
  padding: 11px 11px;    
  border-radius: 8px;
  border: 1px solid #566573;
  background-color: #1C2833;
  color: #FDFEFE;
  font-size: 14px;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease, background 0.3s ease;
}

.signin-page input::placeholder {
  color: #ABB2B9;
  font-size: 13px;
}

.signin-page input:focus {
  border-color: #FDFEFE;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
  background-color: #17202A;
}

.signin-page button {
  margin-top: 12px;
  padding: 8px;          
  background-color: #1A5276;
  color: #FDFEFE;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.25s ease, transform 0.1s ease;
}

.signin-page button:hover {
  background-color: #2874A6;
}

.signin-page button:active {
  transform: scale(0.98);
}

.signup-link {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
  color: #D5D8DC;
}

.signup-link a {
  color: #FDFEFE;
  cursor: pointer;
  font-weight: 500;
}

.signup-link a:hover {
  text-decoration: underline;
}









.headeraaaaa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  color: white;
  font-weight: 500;
   background: linear-gradient(135deg, #1a202c, #2c3e50) !important;
    border-bottom: 2px solid #1e293b;
}


.header-left {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
}


.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 35px;
  font-size: 16px;
}


.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-item {
  cursor: pointer;
}

.header-item:hover {
  color: #22C55E;
}